:root{
    --cor-cabeçalho: #ccd5aeff;
    --cor-fundo-letras: #e9edc9ff;
    --cor-fundo: #fefae0ff;
    --papaya-whip: #faedcdff;
    --cor-span: #d4a373ff;
    --cor-texto-titulos: black;
    --cor-texto: #828282;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    font-family: Quicksand, sans-serif;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* Cabeçalho */

header{
    display: flex;
    background-color: var(--cor-cabeçalho);
    color: var(--cor-texto-titulos);
    justify-content: space-between;
    justify-items: center;
    padding: 20px 50px;
}

header img{
  border-radius: 50%;
  width: 40px;
  margin-right: -750px;

}

header a{
    text-decoration: none;
    color: var(--cor-texto-titulos);
    margin-left: 30px;
}

/* Titulo Galeria */

.t_gl{
  background-color: var(--cor-fundo);
  text-align: center;
}

.t_gl h1{
  padding-top: 80px;
  font-size: 50px;
  padding-bottom: 20px;
}

.t_gl p{
  padding-bottom: 20px;
  color: var(--cor-texto);
}

/* Almofadas */

.t_al{
  text-align: center;
  color: var(--cor-span);
  background-color: var(--cor-fundo);
  font-size: 20px;
  padding-bottom: 20px;
}

.slide_al{
  background-color: var(--cor-fundo);
}

iframe{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

/* Cortinados */

.t_cor{
  text-align: center;
  color: var(--cor-span);
  background-color: var(--cor-fundo);
  font-size: 20px;
  padding-bottom: 20px;
}

.slide_cor{
  background-color: var(--cor-fundo);
}

iframe{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

/* Esponjas */

.t_es{
  text-align: center;
  color: var(--cor-span);
  background-color: var(--cor-fundo);
  font-size: 20px;
  padding-bottom: 20px;
}

.slide_es{
  background-color: var(--cor-fundo);
}

iframe{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

/* Footer */

footer {
  display: flex;
  background-color: var(--cor-cabeçalho);
  color: var(--cor-texto);
  text-align: left;
  padding: 25px;
  font-size: 15px;
  position: relative;
  justify-content: space-between;
}

.redes_sociais{
  padding-right: 20px;
}

.redes_sociais img {
  padding: 5px;
  width: 30px;
}