:root{
    --cor-cabeçalho: #ccd5aeff;
    --cor-fundo-letras: #e9edc9ff;
    --cor-fundo: #fefae0ff;
    --papaya-whip: #faedcdff;
    --cor-span: #d4a373ff;
    --cor-texto-titulos: black;
    --cor-texto: #828282;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    font-family: Quicksand, sans-serif;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* Cabeçalho */

header{
    display: flex;
    background-color: var(--cor-cabeçalho);
    color: var(--cor-texto-titulos);
    justify-content: space-between;
    justify-items: center;
    padding: 20px 50px;
}

header a{
    text-decoration: none;
    color: var(--cor-texto-titulos);
    margin-left: 30px;
}

/* Banner */

.banner{
    background-image: url(../img/divisoria01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 50px;
}

.texto-banner{
    color: var(--cor-texto-titulos);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 186px;
}

.texto-banner p{
    font-size: 40px;
    color: var(--cor-texto-titulos);
    text-size-adjust: 5px;
    font-weight: bolder;
    text-shadow: 5px 5px 10px black;
    line-height: 2;
}

.texto-banner h3{
    color: var(--cor-span);
    font-size: 80px;
    text-shadow: 5px 5px 10px black;
}

/* Cortinados */

.cortinados{
    background-color: var(--cor-fundo);
    padding-top: 50px;
    display: flex;
}

.texto_cortinados{
    margin-left: 70px;
    color: var(--cor-span);
    font-size: 20px;
    height: 100%;
}

.titulo_cortinados{
    margin-bottom: 50px;
    margin-top: 80px;
    font-size: 35px;
}

.texto_cortinados p{
    display: block;
    margin: auto;
    font-size: 15,5px;
    text-align: left;
    color: var(--cor-texto);
}

.cortinados img{
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 70px;
    display: block;
}

/* Almofadas */

.almofadas{
    background-color: var(--cor-fundo);
    padding-top: 50px;
    display: flex;
}

.texto_almofadas{
    margin-right: 50px;
    color: var(--cor-span);
    font-size: 20px;
    height: 100%;
}

.titulo_almofadas{
    margin-bottom: 70px;
    margin-top: 80px;
    font-size: 35px;
    text-align: right;
}

.texto_almofadas p{
    display: block;
    margin: auto;
    font-size: 15,5px;
    text-align: right;
    color: var(--cor-texto);
}

.almofadas img{
    width: 600px;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: auto;
    display: block;
}

/* Esponjas */

.esponjas{
    background-color: var(--cor-fundo);
    padding-top: 50px;
    display: flex;
}

.texto_esponjas{
    margin-left: 70px;
    color: var(--cor-span);
    font-size: 20px;
    height: 100%;
}

.titulo_esponjas{
    margin-bottom: 50px;
    margin-top: 80px;
    font-size: 35px;
}

.texto_esponjas p{
    display: block;
    margin: auto;
    font-size: 15,5px;
    text-align: left;
    color: var(--cor-texto);
}

.esponjas img{
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 70px;
    display: block;
}

/* Comentário */

.comentario{
    text-align: center;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 50px;
    text-decoration: underline var(--cor-span);
} 

/* Botão */

.BOTAO{
    background-color: var(--cor-fundo);
    
}

.botao a{
    text-decoration: none;
    padding: 10px 10px;
    color: var(--cor-texto-titulos);
    border-radius: 7px;
    background-color: var(--cor-span);
    margin-left: 49%;
}

/* Footer */

