:root{
    --cor-cabeçalho: #ccd5aeff;
    --cor-fundo-letras: #e9edc9ff;
    --cor-fundo: #fefae0ff;
    --papaya-whip: #faedcdff;
    --cor-span: #d4a373ff;
    --cor-texto-titulos: black;
    --cor-texto: #828282;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    font-family: Quicksand, sans-serif;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

/* Cabeçalho */

header{
    display: flex;
    background-color: var(--cor-cabeçalho);
    color: var(--cor-texto-titulos);
    justify-content: space-between;
    justify-items: center;
    padding: 20px 50px;
}

header a{
    text-decoration: none;
    color: var(--cor-texto-titulos);
    margin-left: 30px;
}

/* Formulario */

.titulo{
    background-color: var(--cor-fundo);
    text-align: left;
    padding-top: 80px;
    padding-left: 70px;
    padding-bottom: 20px;
}

.form{
    width: auto;
    padding: 20px;
    border-radius: 7px;
    background-color: var(--cor-fundo);
    padding-bottom: 63px;
}

.form h3{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 40px;
    color: var(--cor-texto);
}

label{
    display: block;
    color: var(--cor-texto-titulos);
    margin-left: 40px;
}

input{
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 7px;
    background-color: var(--cor-cabeçalho);
    margin-left: 40px;
    border: 0;
}

textarea{
    width: 600px;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 7px;
    background-color: var(--cor-cabeçalho);
    margin-left: 40px;
    border: 0;
}

.form input[type="text"]{
    width: 250px;
}

.form input[type="email"]{
    width: 600px;
}

.form input[type="submit"]{
    background-color: var(--cor-texto-titulos);
    color: var(--cor-fundo-letras);
    padding: 15px;
    font-size: 16px;
    width: 150px;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 25px;
    font-size: 15px;
    position: relative;
    justify-content: space-between;
}

